/Arvaaluku.py
/forestfires-names.txt
/forestfires.csv
/Forestfires.py
/Forestfires2.py
/Funktiot.py
/GUITest.py
/Hello.py
/henkilöt.db
/Henkilötietokanta.py
/if-lause.py
/Kunnat.db
/Lokikirjasto.py
/lukuja.txt
/Luokka.py
/Merkkijonot.py
/Merkkijonot2.py
/Merkkijonot3.py
/Muuttujat.py
/PorvoonSää.py
/saaloki.txt
/Sanakirja.py
/Sekvenssit.py
/Silmukat.py
/Tiedostosumma.py
/Unicode.txt
/UnicodeLuku.py